#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

#header {
    flex: 0 1 3em;
    background-color: lightblue;
}

#footer {
    flex: 0 1 3em;
    background-color: lightgreen;
}

#main {
    flex: 1;
    display: flex;
}

#left {
    flex: 0 1 21em;
    background-color: lightgray;
}

#mid {
    flex: 0 1 12em;
    background-color: lightyellow;
}

#content {
    flex: 1;
    background-color: white;
    overflow-y: scroll;
}


/* layout C stuff */

#tank {
    flex: 0 0 25em;
    background-color: #8386c9;
    cursor: pointer;
}

#tankdetail {
    flex: 1 1 auto;
    background-color: #c9ccff;
    display: none;
}

#pump {
    flex: 0 0 25em;
    background-color:#7dc099;
    cursor: pointer;
}

#pumpdetail {
    flex: 1 1 auto;
    background-color: #a3fbc8;
    display: none;
}